@using PhotoEditor.Interface.ViewModels

@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error</h4>
    <p>@Model.ErrorMessage</p>
    <hr>
    <p class="mb-0">An error occurred while processing your request.</p>
</div>

<a class="btn btn-danger text-uppercase w-25" role="button" asp-controller="Editor" asp-action="Start">Oops...</a>
