<div class="vertical-full-scale-box">
    <img src="~/content/photographer.gif" class="h-50 w-25" alt="gif-image" />

    @using (Html.BeginForm("Edit", "Editor", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-to-edit" }))
    {
        <div class="image-upload-wrap">
            <input class="file-upload-input" type="file" name="file" onchange="readURL(this)" accept="image/png, image/jpeg" />
            <div class="drag-text">
                <h3>Browse a photo</h3>
            </div>
        </div>

        <div class="file-upload-content">
            <img class="file-upload-image rounded" src="#" />

            <div class="image-action-wrap">
                <input type="submit" class="btn btn-primary block text-uppercase mb-3" value="Edit" />

                <button type="button" class="btn btn-info block text-uppercase text-white mb-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                    Adjust bloom
                </button>

                <button type="button" class="btn btn-secondary block text-uppercase" onclick="removeUpload()">Remove</button>
            </div>

            <div class="offcanvas offcanvas-end top-0 bg-dark text-white" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel" class="text-uppercase">Bloom configuration</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <label for="blurRange" class="form-label">Gaussian kernel radius:</label>
                    <div class="horisontal-box">
                        <input type="range" class="form-range" min="0" max="50" value="10" id="blurRange" oninput="blurRangeOutput.value = this.value">
                        <output id="blurRangeOutput">10</output>
                    </div>

                    <label for="downscalingRatioRange" class="form-label">Downscaling ratio:</label>
                    <div class="horisontal-box">
                        <input type="range" class="form-range" min="0" max="20" value="16" id="downscalingRatioRange" oninput="downscalingRatioRangeOutput.value = this.value">
                        <output id="downscalingRatioRangeOutput">16</output>
                    </div>

                    <label for="thresholdRange" class="form-label">Threshold:</label>
                    <div class="horisontal-box">
                        <input type="range" class="form-range" min="0" max="255" value="100" id="thresholdRange" oninput="thresholdRangeOutput.value = this.value">
                        <output id="thresholdRangeOutput">100</output>
                    </div>

                    <label for="intensityRange" class="form-label">Intensity:</label>
                    <div class="horisontal-box">
                        <input type="range" class="form-range" min="0" max="2" step="0.1" value="1" id="intensityRange" oninput="intensityRangeOutput.value = this.value">
                        <output id="intensityRangeOutput">1</output>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
